<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body style="background-image: url('https://img.freepik.com/free-photo/office-desktop-with-laptop-analytics_23-2148174053.jpg');">
  <div class="container">
    <div class="demo-app">
      <h3>DEMO APP</h3>
    </div>
    <div>
  
     
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#" style="color: white;">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: white;">ABOUT US</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: white;">JOBS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: white;">CLIENTS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: white;">EMPLOYERS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: white;">CONTACT US</a>
      </li>
    </ul>
    </div>
    
  </div>
  <div class="search-container">
    <h2>I am looking for...</h2><br/>
    <input type="text" id="job-description" placeholder="Enter job description">
    <button id="search-button">Search</button>
    <br/><br/>
    <input type="checkbox" name="fulltime" value="Full Time"> Full Time &nbsp;&nbsp;
    <input type="checkbox" name="parttime" value="Part Time"> Part Time/Casual/Freelance
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <select name="location" id="location">
      <option value="">--Location--</option>
      <option value="mumbai">Mumbai</option>
      <option value="delhi">Delhi</option>
      <option value="pune">Pune</option>
      <option value="banglore">Banglore</option>
      <option value="hydrabad">Hydrabad</option>
      <option value="chennai">Chennai</option>
    </select>
  </div>
  <div class="registerBtn">
    <a class="btn btn-primary" routerLink="/register">Register</a>
  
  </div>
  
  <div class="content-wrapper" style="background-color:gainsboro; color: black;">
    <div class="content-wrapper-inner-content">
      <h3>We're leaders in</h3>
      <h1>Creative Digital Recruitment</h1>
      <br><br><br><br>
      <h5>Based in Surry Hills,the creative hub of Sydney we are surrounded by creativity</h5>
      <h5>and that reflects on the the type of jobs we are recruit for.</h5>
      <br><br>
      <button type="button" class="btn btn-primary">FIND OUT MORE ABOUT US</button>
      <br><br>
    </div>
    
  </div>
  <div class="content-wrapper-footer" style="background-color:black; color: white;">
    <div class="content-wrapper-footer-inner-content">
      <h5>Subscribe to our job Seeker Mailing List</h5><br>
      <input type="email" placeholder="Enter your email address" style="border-radius: 5px; width: 350px;">
    </div>
  </div>
  
  <div class="bottom-content" style="background-color:gainsboro; color: black;">
      <img src="https://cdn-icons-png.flaticon.com/256/982/982408.png" height="45px" width="45px"/>
      &nbsp;
      <input type="email"  style="width: 350px;"><br><br>
      <h6>Copyright &#64; 2024 shivshankar patil.<b>Terms & Policies</b></h6>
  </div>
</body>

</html>